
 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreria</title>
</head>
<body>
    {% with mensajes = get_flashed_messages() %}
      {% if mensajes %}
      {% for msj in mensajes %}
        <h3>{{ msj }}</h3>
      {% endfor %}
      {% endif %}
    {% endwith %}

    <br>
    <br>
    <center>
        <h1>Gestión de Floreria</h1> 
    </center>
    <br>
    <br>

    <form action="/agregar_flores" method="post">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="number" name="cantidad" placeholder="Cantidad">
        <input type="number" name="precio" placeholder="Precio">
        <button type="submit">Guardar</button>
    </form>
    

    <br>
    <br>
    <form action="/consultar_registros" method="post">
        <input type="text" name="nombre" placeholder="Nombre de la flor">
        <button type="submit">Consultar registros</button>
    </form>

    <br>
    <br>
</body>
</html>


    <br>
    <br>
    <form action="/consultar_registros" method="post">
        <input type="text" name="nombre" placeholder="Nombre de la flor">
        <button type="submit">Consultar registros</button>
    </form>

    <br>
    <br>
</body>
</html>
