body {
    margin: 30px;
    background-size: cover;
    background-position: center;
  }
  h1 {
    text-align: center;
    color: #F3FF00;
    

  }
  table {
    margin: 0 auto;
    background-image: url('Fondo.jpg');
    background-size: cover;
    background-position: center;

}

th, td {
    padding: 15px;
    border: 2px solid black;
}




